## Number letter counts
**Problem 17**

If the numbers 1 to 5 are written out in words: one, two, three, four, five, then there are 3 + 3 + 5 + 4 + 4 = 19 letters used in total.

If all the numbers from 1 to 1000 (one thousand) inclusive were written out in words, how many letters would be used?


NOTE: Do not count spaces or hyphens. For example, 342 (three hundred and forty-two) contains 23 letters and 115 (one hundred and fifteen) contains 20 letters. The use of "and" when writing out numbers is in compliance with British usage.

In [8]:
d= {1:3,2:3,3:5, 4:4,5:4,6:3,7:5, 8:5,9:4,10:3,
    11:6,12:6,13:8,14:8,15:7,16:7,17:9,18:8,19:8,
    20:6, 30:6, 40:5, 50:5, 60: 5, 70:7, 80:6, 90:6
   }

In [9]:
sum9=0
for i in range(1,10):
    sum9+=d[i]
print(sum9)

36

In [18]:
sum19=0
for i in range(1,20):
#     print(i,d[i],sum19)
    sum19+=d[i]
    print(i,d[i],sum19)    
print(sum19)

(1, 3, 3)
(2, 3, 6)
(3, 5, 11)
(4, 4, 15)
(5, 4, 19)
(6, 3, 22)
(7, 5, 27)
(8, 5, 32)
(9, 4, 36)
(10, 3, 39)
(11, 6, 45)
(12, 6, 51)
(13, 8, 59)
(14, 8, 67)
(15, 7, 74)
(16, 7, 81)
(17, 9, 90)
(18, 8, 98)
(19, 8, 106)
106

In [21]:
sum99=sum19
for i in range(20,100,10):

    sum99+=d[i]*10+sum9
    print(i,d[i],sum99)    
print(sum99)

(20, 6, 202)
(30, 6, 298)
(40, 5, 384)
(50, 5, 470)
(60, 5, 556)
(70, 7, 662)
(80, 6, 758)
(90, 6, 854)
854

In [31]:
sum999 = sum99
#(one hundred) + (one hundred and)*99+sum99 
for i in range(1,10):
    sum999+=(d[i]+7)+(d[i]+10)*99+sum99

In [32]:
# + one thousand
sum999+11

21124